<html>     <head>     <link rel="shortcut icon" href="favicon.ico"
type="image/x-icon">     <meta charset = "utf-8">     <meta name="viewport"
content="width=device-width, initial-scale=1">     <link rel="stylesheet"
href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js
"></script>     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js
/bootstrap.min.js"></script>         <!-- <title >             Books4u
</title> -->
	
	</head>
<body style="padding: 20px;">
			

	<div class="center-body" >
		 <div class="card">
  			<img src="img_avatar.png" alt="Book Details" style="width:100%">
  			
  				
    			{{#each data}}
    			<div class="container" href="">
    				<h1>Seller Details:{{@index}}</h1>
    			<p>Name: {{uname}} </p>
    			<p>Phone:{{uph}}</p>
    			<p>Email:{{uemail}}</p>
    			<hr width = 100><br>
    			<h1>Book Details:{{@index}}</h1> 
    			<p>Name: {{bname}} </p> 
			  	<p>Author: {{author}} </p>			  	
			  	<p>MRP: {{bmrp}} </p>
			  	<hr width="100">
			  	<!-- <p>Semester: {{Semester}} </p> -->
			  	{{/each}}
    			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-shopping-cart"> </span>Buy</button>
  			</div>
		</div> 
	</div>

<a href="/home/{{url}}">Home</a>
</body>
</html>